#gameboard{
    width: 320px;
    height : 320px;
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
}

.square{
    height : 40px;
    width: 40px;
}
.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
}
.beige{
    background-color:rgb(110, 110, 99);
}
.brown{
    background-color: #779556;
}
.black{
    fill : black;
}
.white{
    fill : white;
}